<script>
import { navigate } from "svelte-routing";
import user from "../../store/user";

    export let list;
    export let showPencil;
    
    const userData = user.user;
    const roles = $userData.roles;
    // @ts-ignore
    const isOrganiser = list.organiser === $userData.uuid;

    const endDate = () => {
        return new Date(list.endDate).toLocaleDateString();
    }

    const endTime = () => {
        const time = new Date(list.endDate).toLocaleTimeString()
        return time.split(':')[0] + ":"  +  time.split(':')[1];
    }

    const openOrderList = () => {
        navigate(`/orderlists/${list.id}`)
    }

    const openEditOrderList = () => {
        navigate(`/orderlists/edit/${list.id}`)
    }
</script>

<div class="orderList {list.hasEnded ? 'orderList--disabled' : ''} card">

    <div class="card-header orderList__header d-flex justify-content-between">
        <span> 
            <img src="../../images/Food_24.png" alt="icon" class="img">    
        </span>
        <span> {list.title} </span>
        {#if (roles.includes('admin') || isOrganiser) && showPencil}
            <span on:click="{() => openEditOrderList()}">✏️</span>
        {/if}
    </div>

    <div class="card-body"  on:click="{() => openOrderList()}">
        <p><strong>Restaurant:</strong> {list.restaurantName}</p>
        <p><strong>Einddatum:</strong> {endDate()}</p>
        <p><strong>Eindtijd:</strong> {endTime()}</p>
        <p><strong>Status:</strong> {!list.hasEnded ? 'Actief' : "Verlopen"}</p>
        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa provident quasi nulla quia quibusdam placeat iste quas esse, quam eveniet veniam tempore quidem nam, harum velit facere iure est commodi? -->
    </div>
    
        
</div>