<script>
    import { slide } from 'svelte/transition';
    import OrderList from "./OrderList.svelte"
    import orderList from "../../store/orderList";
    import Pagination from "../Pagination.svelte"
    import OrderListFilter from './OrderListFilter.svelte';

    let loading = orderList.loading;
    let paginatedOrderList = []
    let filteredOrderList = orderList.getFilteredOrderList();
    
    orderList.fetch()
    .then(() => {
        setPaginatedOrderList(1)
    })

    //Watcher (Reactivity) which calls the filteredListChanged function when filteredOrderList changes
    $: {
        filteredListChanged($filteredOrderList);
    }


    //Pagination
    const perPage = 12;
    const changePage = (params) => {
        setPaginatedOrderList(params.page)
    }

    const filteredListChanged = (filteredList) => {
        setPaginatedOrderList(1)
    }

    const setPaginatedOrderList = (page) => {
        paginatedOrderList = orderList.paginatedOrderList(page, perPage);
    }

</script>


{#if $loading}
    <div class="spinner-border" role="status">
        <!-- <span class="sr-only"></span> -->
    </div>

{:else}
    <section class="orderList-section">
        <OrderListFilter/>

        {#if paginatedOrderList.length <= 0}
            <div class="orderList-section">
                <p>No orderlists found</p>
            </div>
        {:else}
        <div class="orderList-wrapper">
        
            {#each paginatedOrderList as item}
            <span transition:slide>
                <OrderList list={item} showPencil="{false}"/>
            </span>
            {/each}
        
        </div>
        
        <Pagination 
            amountOfItems="{$filteredOrderList.length}"
            {perPage}
            on:change="{(ev) => changePage(ev.detail)}"
        />

        {/if}

    </section>
{/if}