<script>
import { navigate } from "svelte-routing";
import order from "../../store/order.js";

    import orderList from "../../store/orderList.js";

    let statusText = "Actief"
    let searchTerm = '';
    let status = "active"
    let typeText = "Alle"
    let type = "all"
   

    const setStatusText = () => {
        if(status === "all") {
            statusText = "Alle"
        } else if(status === "active") {
            statusText = "Actief"
        } else {
            statusText = "Verlopen"
        }
    }

    const setStatus = (data) => {
        status = data
        setStatusText();
    }

    const setTypeText = () => {
        if(type === "all") {
            typeText = "Alle"
        } else if(type === "created") {
            typeText = "Aangemaakt"
        } else {
            typeText = "Uitgenodigd"
        }
    }

    const setType = (value) => {
        type = value;
        setTypeText();
    }



    $: orderList.searchTerm.set(searchTerm)
    $: orderList.status.set(status)
    $: orderList.type.set(type)

</script>

<nav class="navbar navbar-expand-lg navbar-dark orderlist-filter">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Restaurant -->
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Zoek restaurant" aria-label="Search" bind:value="{searchTerm}">
        </form>
        
        <!-- Status -->
        <ul class="navbar-nav  orderlist-filter__status">
            <li class="nav-item dropdown">
                <btn class="btn btn-link nav-link dropdown-toggle" style="color:white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {"Status: " + statusText}
                </btn>
                <ul class="dropdown-menu dropdown-menu-dark orderlist-filter__status-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><btn class="dropdown-item" on:click="{() => setStatus('all')}">Alle</btn></li>
                    <li><btn class="dropdown-item" on:click="{() => setStatus('active')}">Actief</btn></li>
                    <li><btn class="dropdown-item" on:click="{() => setStatus('expired')}">Verlopen</btn></li>
                </ul>
            </li>
        </ul>

        <!-- Type -->
        <ul class="navbar-nav  orderlist-filter__status">
            <li class="nav-item dropdown">
                <btn class="btn btn-link nav-link dropdown-toggle" style="color:white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {"Type: " + typeText}
                </btn>
                <ul class="dropdown-menu dropdown-menu-dark orderlist-filter__status-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><btn class="dropdown-item" on:click="{() => setType('all')}">Alle</btn></li>
                    <li><btn class="dropdown-item" on:click="{() => setType('created')}">Aangemaakt</btn></li>
                    <li><btn class="dropdown-item" on:click="{() => setType('invited')}">Uitgenodigd</btn></li>
                </ul>
            </li>
        </ul>

        <btn on:click="{ () => navigate('/orderlists/create') }" class="btn btn-link orderlist-filter__create">Maak een orderlijst</btn>
    </div>
</nav>