<script>
    import {Link, navigate} from "svelte-routing";
    import user from "../store/user";

    const loggedInUser = user.getUser()

    const logout = () => {
        user.logout();
        navigate("/login")
    }
</script>

<nav class="navbar container">
    <a href="/" class="navbar-brand">
        <img  height="50" class="d-inline-block align-top" src="../../images/logo.png" alt="logo"/>
    </a >

    {#if $loggedInUser}
        <div class="form-inline my-2 my-lg-0">
            <a class="navbar__link" href="/profile">{$loggedInUser.firstName + " " + $loggedInUser.lastName}</a>
            <button class="navbar__link btn--link" on:click="{ () => logout() }">Logout</button>
        </div>
    {/if}
</nav>

