.createOrderList_wrapper {
    width: 40%;
    /* display: flex; */
    background-color: var(--dark);
    color: aliceblue;
    padding: 1em;
    box-shadow: 5px 5px 15px 5px #CECECE;
    border-radius: 10px;
}

.createOrderList_wrapper > h3 {
    text-align: center;
}


.createOrderList_input {
    color: white;
    background: transparent;
    border-bottom: 1px solid white;
    font-size: 1em;

}

.createOrderList__create:hover {
    color: white;
}

.form__label {
    font-size: 1.2em;
}

/* Mobile phones */
@media screen and (max-width: 576px) {


    .createOrderList_wrapper {
        flex-direction: column-reverse;
        width: 95%
    }
}