.orderList {
    cursor: pointer
}

.orderList__header {
    background-color: darkgray;
}

.orderList--disabled {
    color: darkgray !important;
}

.orderList--disabled > .orderList__header {
    background-color: lightgray;
}