.orderlist-filter {
    width: 100% !important;
    margin-bottom: 2rem;
    background-color: var(--primary) !important;
    border-radius: 10px;
    padding: 0.5rem 0.8rem ;
    display: flex;
    align-items: center;
}


.orderlist-filter__create {
    color: white !important; 
    text-decoration: none;
    transition: 200ms ease-in-out !important;
    margin-left: auto !important;
}

.orderlist-filter__create:hover {
    text-decoration: underline;
}

.orderlist-filter__status-menu {
    background-color: var(--primary) !important;
    color: white !important;
}

