<script>
import api from "../../scripts/api"
import Multiselect from '../../components/multiSelect.svelte'
import { onMount } from 'svelte'
import { navigate, Router } from "svelte-routing";
import orderlist from "../../store/orderList.js"
import Alert from "../../components/Alert.svelte";

    const today = new Date();
    const date = today.getFullYear()+'-'+("0" + (today.getMonth() + 1)).slice(-2)+'-'+("0" + (today.getDate() + 1)).slice(-2);
    const time = ((today.getHours() > 9) ? today.getHours() : "0" + today.getHours()) + ":" +("0" + (today.getMinutes() + 1)).slice(-2);
    let dateTime = date+'T'+time;

    let dateInput = dateTime;

    let userList = [];
    onMount( async() => {
        api.get('/Users').then((response)=> {
            userList = response;
            console.log(userList);
        })
    })

    let orderListData = {
        title: null,
        restaurantName: null,
        linkToMenu: null,
        endDate: null,
        invitedUsers: []
    }
    let value;

    const createOrderlist = (event) => {
        event.preventDefault();
        orderListData.endDate = new Date(dateInput).toISOString();
        orderlist.createOrderlist(orderListData)
    }

let error = orderlist.error;

export {
    orderListData, error
}

</script>
<main>
    <div class="container createOrderList_wrapper">
        <h3 class="card-title">Maak een Orderlijst</h3>
        <hr/>
        <form class="form">
            {#if $error}
                <div class="form__row">
                    <Alert bind:error={$error}/>
                </div>
            {/if}
            <div class="form__row">
                <label class="form__label" for="Title">TITEL</label>
                <input type="text" bind:value={orderListData.title} name="Title" id="Title" class="input input__text createOrderList_input">
            </div>
            <div class="form__row">
                <label class="form__label"  for="MenuLink">MENU</label>
                <input type="url" bind:value={orderListData.linkToMenu} name="MenuLink" id="MenuLink" class="input createOrderList_input">
            </div>
            <div class="form__row">
                <label class="form__label"  for="restaurantNaam">RESTAURANT NAAM</label>
                <input type="text" bind:value={orderListData.restaurantName} name="restaurantNaam" id="restaurantNaam" class="input input__text createOrderList_input">
            </div>
            <div class="form__row">
                <label class="form__label"  for="endDate">EIND DATUM</label>
                <input type="datetime-local" min="{dateTime}" bind:value={dateInput} name="endDate" id="endDate" class="input input__text createOrderList_input">
            </div>
            <div class="form__row">
                <label class="form__label"  for="userListSelect">KIES GEBRUIKERS</label>
                {#if userList.length === 0}
                    <div>Users loading</div>
                {:else}
                    <Multiselect id="userListSelect2" bind:value>
                        <option value="selectAll">Selecteer Alle</option>
                        {#each userList as user}
                            <option value={user.id}>{user.firstName} {user.lastName}</option>
                        {/each}
                    </Multiselect>
                {/if}

            </div>
            <div class="form__row">
                <button class="input__submit btn btn--primary bg-color--primary createOrderList__create" on:click={ createOrderlist }> Lijst aanmaken </button>
            </div>
        </form>
    </div>
</main>