<script>
    import api from "../../scripts/api"
    import Multiselect from '../../components/multiSelect.svelte'
    import { onMount } from 'svelte'
    import orderlist from "../../store/orderList";
    import Alert from "../../components/Alert.svelte";
    export let id;
    
    const today = new Date();
    const date = today.getFullYear()+'-'+("0" + (today.getMonth() + 1)).slice(-2)+'-'+("0" + (today.getDate() + 1)).slice(-2);
    const time = ((today.getHours() > 9) ? today.getHours() : "0" + today.getHours()) + ":" +("0" + (today.getMinutes() + 1)).slice(-2);
    const dateTime = date+'T'+time;
    let value;

    let orderListData = {
        title: null,
        restaurantName: null,
        linkToMenu: null,
        endDate: null,
        invitedUsers: []
    }

    let userList = [];
    onMount( async() => {
        api.get('/orderlists/' + id).then((response)=> {
            orderListData.title = response.title;
            orderListData.linkToMenu = response.linkToMenu;
            orderListData.restaurantName = response.restaurantName;
            orderListData.endDate = response.endDate;
        })
    })


    let dateInput = dateTime;


    let error = orderlist.error;


    const updateOrderList = (event) => {
        event.preventDefault();
        orderListData.endDate = new Date(dateInput).toISOString();
        value.forEach(item => {
            if(item !== "selectAll"){
                orderListData.invitedUsers.push(item);
            }

        });

        orderlist.updateOrderList(orderListData, id);
    }

    export {
        orderListData, error
    }

    
    
    </script>
    <main>
        <div class="container createOrderList_wrapper">
            <h3 class="card-title">Update Orderlijst</h3>
            <hr/>
            <form class="form">
                {#if $error}
                    <div class="form__row">
                        <Alert bind:error={$error}/>
                    </div>
                {/if}
                <div class="form__row">
                    <label class="form__label" for="Title">TITEL</label>
                    <input type="text" bind:value={orderListData.title} name="Title" id="Title" class="input createOrderList_input">
                </div>
                <div class="form__row">
                    <label class="form__label" for="MenuLink">MENU</label>
                    <input type="text" bind:value={orderListData.linkToMenu} name="MenuLink" id="MenuLink" class="input createOrderList_input">
                </div>
                <div class="form__row">
                    <label class="form__label" for="restaurantNaam">RESTAURANT NAAM</label>
                    <input type="text" bind:value={orderListData.restaurantName} name="restaurantNaam" id="restaurantNaam" class="input createOrderList_input">
                </div>
                <div class="form__row">
                    <label class="form__label" for="endDate">EIND DATUM</label>
                    <input type="datetime-local" min="{dateTime}" bind:value={dateInput} name="endDate" id="endDate" class="input createOrderList_input">
                </div>
                <div class="form__row">
                    <label class="form__label" for="userListSelect">KIES GEBRUIKERS!</label>
                    {#await api.get('/users')}
                        <div>Users loading</div>
                    {:then userList}
                        <Multiselect id="userListSelect" bind:value>
                            <option value="selectAll">Selecteer Alle</option>
                            {#each userList as user}
                                <option value={user.id}>{user.firstName} {user.lastName}</option>
                            {/each}
                        </Multiselect>
                    {/await}
                    
                </div>
                <div class="form__row">
                    <button class="input__submit btn btn--primary bg-color--primary createOrderList__create" on:click={ updateOrderList }> Update Orderlijst </button>
                </div>
            </form>
        </div>
    </main>