<script>
    import CreateOrder from "../../components/Order/CreateOrder.svelte"
    import OrdersTable from "../../components/Order/OrdersTable.svelte";
    import OrderList from "../../components/OrderList/OrderList.svelte";
    import orderList from "../../store/orderList";
    import order from "../../store/order";
    import user from "../../store/user";

    export let id;

    orderList.setOrderListById(id);

    const list = orderList.orderList;
    const loadingList = orderList.loading;

    const userData = user.user;

    const roles = $userData.roles;
    // const userUUID = $userData.uuid;
    // @ts-ignore
    let isOrganiser = $list.organiser === $userData.id;

    let orderNotDeleted = true;

    const deleteOrder = (id) => {
        order.deleteOrder(id);
        orderNotDeleted = false;
    }


</script>

<main class="mt-4 pb-4">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12" >
                {#if !$loadingList}
                <OrderList list="{$list}" showPencil="{true}" />
                {/if}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{$list.linkToMenu}" target="_blank" >
                            <h3>Menu kaart</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                {#if $userData}
                    {#await orderList.getSpecificUserOrders($list.id, $userData.id)}

                    {:then order}
                        {#if order.length > 0 && orderNotDeleted}
                            <div class="placed-order">
                                <div class="placed-order__title">
                                    <h1>Geplaatste Bestelling</h1>
                                    <button class="btn-dense btn--transparent" on:click={() => deleteOrder(order[0].id)}>🗑️</button>
                                </div>
                                <hr/>
                                <div>
                                    <span><strong>Beschrijving:</strong> {order[0].description}</span>
                                    <hr/>
                                    <span><strong>Betaal Methode:</strong> {order[0].paymentMethod}</span>
                                </div>
                            </div>
                        {:else}
                            <CreateOrder listID="{id}"/>
                        {/if}
                    {/await}
                {/if}
            </div>
        </div>

        {#if roles.includes('admin') || isOrganiser}
            <div class="row mb-4">
                <div class="col-12">
                    <OrdersTable orderListId={id}/>
                </div>
            </div>
        {/if}

    </div>
</main>

<style>
    .placed-order {
        padding: 1rem;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    .placed-order__title {
        display: flex;
        justify-content: space-between;
    }

    .placed-order__title > h1 {
        font-size: 1.75rem;
    }

</style>