<script>
    import order from "../../store/order.js"
    import Alert from "../Alert.svelte";
    import {navigate} from "svelte-routing";

    export let listID;

    let orderData = {
        description: null,
        paymentMethod: null,
        notification: false,
        orderlistID: listID
    }

    const createOrder = (event) => {
        event.preventDefault();
        order.createOrder(orderData);
        navigate(`/orderlists/${listID}`)
    }

    let error = order.error;

    export {
        orderData, error
    }

</script>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Maak een order</h3>
        <form class="form createOrder__form mt-4">
            {#if $error}
                <div class="form__row">
                    <Alert bind:error={$error}/>
                </div>
            {/if}

            <div class="form__row">
                <label for="description">ORDER DESCRIPTION</label>
                <textarea bind:value="{orderData.description}" name="description" id="description" class="input input__text input--dark"></textarea>
            </div>

            <div class="form__row">
                <label for="paymentMethod">PAYMENT METHOD</label>
                <select class="form-control createOrder__form--select input input--dark" id="paymentMethod" bind:value="{orderData.paymentMethod}">
                    <option value="Cash">Cash</option>
                    <option value="Tikkie">Tikkie</option>
                </select>
            </div>

            <div class="mb-4 form-check createOrder__notification">
                <input type="checkbox" bind:checked={orderData.notification} name="notification" id="notification" class="form-check-input createOrder__notification-check">
                <label for="notification">Send Notificatons</label>
            </div>

            <div class="form__row">
                <button class="input__submit btn btn--primary bg-color--primary createOrder__create " on:click="{ createOrder }"> PLAATS BESTELLING</button>
            </div>
        </form>
    </div>
</div>