<script>
    import order from "../../store/order";

    export let orderId;
    export let isPayed;
    let modalElement;

    const updatePayment = () => {
        order.setHasPayed(orderId, isPayed)
    }
</script>

<div bind:this={modalElement} class="modal fade" id="editorder_{orderId}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Betaalstatus aanpassen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form__row">
                        <label for="isPayed">Betaling voldaan:</label>

                        <select name="isPayed" id="isPayed" class="form-select" bind:value="{isPayed}">
                            <option value="{true}">Ja</option>
                            <option value="{false}">Nee</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn--primary bg-color--primary " on:click={ updatePayment } data-bs-dismiss="modal">Bevestigen</button>
            </div>
        </div>
    </div>
</div>