<script>
    import order from "../../store/order";
    import EditOrder from "./EditOrder.svelte";
    export let orderListId;

    order.getOrders(orderListId);

    const orders = order.orders

    const deleteOrder = (id) => {
        order.deleteOrder(id)
    }

</script>

<div class="card orders-table">
    
    <div class="card-body">
        <h3 class="card-title">Gemaakte bestellingen</h3>

        {#if $orders.length > 0}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Beschrijving</th>
                    <th scope="col">Betaald</th>
                    <th scope="col">Verwijderen</th>
                </tr>
                </thead>
                <tbody>
                    {#each $orders as orderData, i}
                        <tr>
                            <th scope="row">{i + 1}</th>
                            <td>{orderData.description}</td>
                            <td>{orderData.isPayed ? "Ja" : "Nee"} <button class="btn-dense btn--transparent" data-bs-toggle="modal" data-bs-target="#editorder_{orderData.id}">✏️</button></td>
                            <td><button class="btn-dense btn--transparent" on:click={deleteOrder(orderData.id)}>🗑️</button></td>
                        </tr>
                        <EditOrder orderId={orderData.id} isPayed="{orderData.isPayed}"/>

                    {/each}
                </tbody>
            </table>


          {:else}
                <p>Geen orders voor deze lijst gevonden.</p>
          {/if}
    </div>
</div>

