.createOrder__wrapper {
    width: 80%;
    padding: 0;
    box-shadow: 5px 5px 15px 5px #CECECE;
}

.createOrder__base {
    display: flex;
    background-color: var(--dark);
    color: white;
    padding: 2rem;
}

.createOrder__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
}

.createOrder__form--select {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    color: black;
    appearance: auto;
}


/* .createOrder__form--description { */
    /* border: 0;
    font-size: 1rem;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white; */
/* } */


.createOrder__create:hover {
    color: white;
}

.createOrder__notification {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.createOrder__notification-check {
    margin-left: 0px !important;
    margin-top: 0px;
    margin-right: 1rem;
}

