.register {
    height: calc(100vh - 75px);
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__wrapper {
    width: 40%;
    /* display: flex; */
    
    box-shadow: 5px 5px 15px 5px #CECECE;
}

.register__left {
    /* width: 50%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.register__left > img {
    max-width:460px;
    max-height:190px;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
}

.register__right {
    display: flex;
    background-color: var(--dark); 
    color: white;
    padding:2rem;
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
}

.error{
    color: red;
    background-color: lightcoral;
    padding: 1rem;
}

.success{
    color: green;
    background-color: lightgreen;
    padding: 1rem;
}

/* Mobile phones */
@media screen and (max-width: 576px) {
    .register {
        padding-top: 2rem;
        height: initial;
    }

    .register__wrapper {
        flex-direction: column-reverse;
        width: 95%
    }
}
