.btn{
    border: none;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: white;
}

.btn--transparent, .btn--link {
    background-color: transparent;
    border: none;
    color: var(--primary);
    transition: 200ms ease-in-out !important;

}

.btn--transparent:hover {
    background-color: darkgray;
}

.btn--link:active {
    background-color: transparent !important;
}

.btn--link:hover {
    /* color: var(--primary-dark) */
    color: #0a58ca;
    text-decoration: underline;
}