.form {
    width: 100%;
    height: 100%;
}

.form__row {
    /* margin-bottom: 2rem; */
    display: flex;
    flex-direction: column;
}

.form__row:not(:last-child){
    margin-bottom: 2rem;
}

.form__row > a{
    font-size: 1.2rem;
}

.input {
    width: 100%;
}


.input__text {
    font-size: 1rem;
    border: 0;
    outline: 0;
    background: transparent;
    /* border-bottom: 1px solid white; */
}

.input__submit {
    width: 100%;
}

.input--light {
    /* background: transparent; */
    border-bottom: 1px solid white;
    color: white;
}

.input--dark {
    border-bottom: 1px solid black;
    color: black;

}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
    filter: invert(100%);
}

