<script>
    import { Router, Route, navigate } from "svelte-routing";

    //Views
    import Home from "./views/Home.svelte";
    import Login from "./views/Login.svelte";
    import Register from "./views/Register.svelte";
    import CreateOrderList from "./views/OrderList/CreateOrderList.svelte"
    import OrderList from "./views/OrderList/OrderList.svelte";
    import EditOrderList from "./views/OrderList/EditOrderList.svelte";
    import Profile from "./views/Profile.svelte"
    import ForgotPassword from "./views/ForgotPassword.svelte"
    import NotFound from "./views/NotFound.svelte";

    //etc
    import Navbar from "./components/Navbar.svelte"
    import user from "./store/user"

    user.restoreFromSessionStorage();

    const token = user.token;

    export let url = ""

    //Route guard
    $: if (!$token && (window.location.pathname !== "/login" && window.location.pathname !== "/register" && window.location.pathname !== "/forgot-password" )) {
        navigate("/login")
    }

    $: if($token && (window.location.pathname == "/login" || window.location.pathname == "/register")) {
        navigate("/");
    }

</script>

<Navbar/>
 
<Router url="{url}">
    <Route path="/login" component="{Login}" />
    <Route path="/" component="{Home}" />
    <Route path="/register" component="{Register}" />
    <Route path="/orderlists/create" component="{CreateOrderList}" />
    <Route path="/orderlists/:id" component="{OrderList}"/>
    <Route path="/orderlists/edit/:id" component="{EditOrderList}"/>
    <Route path="/profile" component="{Profile}"/>
    <Route path="/forgot-password" component="{ForgotPassword}"/>
    <Route component={NotFound} />
</Router>


