.multiselect {
  background-color: white;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  position: relative;
  color: black;
}
.multiselect:not(.readonly):hover {
  border-bottom-color: hsl(0, 0%, 50%);
}

.tokens {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.tokens::after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -1px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: hsl(45, 100%, 51%);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.tokens.showOptions::after { 
  width: 100%; 
  left: 0; 
}
.token {
  align-items: center;
  background-color: hsl(214, 17%, 92%);
  border-radius: 1.25rem;
  display: flex;
  margin: .25rem .5rem .25rem 0;
  max-height: 1.3rem;
  padding: .25rem .5rem .25rem .5rem;
  transition: background-color .3s;
  white-space: nowrap;
}
.token:hover {
  background-color: hsl(214, 15%, 88%);
}
.readonly .token {
  color: hsl(0, 0%, 40%);
}
.token-remove, .remove-all {
  align-items: center;
  background-color: hsl(214, 15%, 55%);
  border-radius: 50%;
  color: hsl(214, 17%, 92%);
  display: flex;
  justify-content: center;
  height: 1.25rem;
  margin-left: .25rem;
  min-width: 1.25rem;
}
.token-remove:hover, .remove-all:hover {
  background-color: hsl(215, 21%, 43%);
  cursor: pointer;
}

.actions {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 15rem;
}

input {
  border: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
      margin: 0;
  outline: none;
      padding: 0;
  width: 100%;
}

.dropdown-arrow path {
  fill: hsl(0, 0%, 70%);
}
.multiselect:hover .dropdown-arrow path {
  fill: hsl(0, 0%, 50%);
}

.icon-clear path {
  fill: white;
}

.options {
  box-shadow: 0px 2px 4px rgba(0,0,0,.1), 0px -2px 4px rgba(0,0,0,.1);
  left: 0;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  max-height: 70vh;
  overflow: auto;
  padding-inline-start: 0;
  position: absolute;
  top: calc(100% + 1px);
  width: 100%;
}
.selected li {
  background-color: white;
  cursor: pointer;
  padding: .5rem;
}
.multiselect li:last-child {
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
.multiselect li:not(.selected):hover {
  background-color: hsl(214, 17%, 92%);
}
.multiselect li.selected {
  background-color: hsl(232, 54%, 41%);
  color: white;
}
.multiselect li.selected:nth-child(even) {
  background-color: hsl(232, 50%, 45%);
  color: white;
}
.multiselect li.active {
  background-color: hsl(214, 17%, 88%);
}
.multiselect li.selected.active, li.selected:hover {
  background-color: hsl(232, 48%, 50%);
}

.hidden {
  display: none;
}