/* .navbar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

.navbar__link{
    font-size: 1.4rem;
}

.navbar__link:not(:last-child) {
    margin-right: 2rem;
} */


.navbar__link{
    font-size: 1.4rem;
}

.navbar__link:not(:last-child) {
    margin-right: 2rem;
}