<script>
import user from "../store/user";

let email = ""

const requestPassChange = (mail) => {
    user.requestRandomPass(mail)
    window.alert("An email was sent to this address. (If it is valid)")
}

</script>

<main class="login">
    <div class="container login__wrapper">
        <div class="row">
            <div class="col-12 col-lg-6 login__left">
                <img width="400" height="400" src="./images/Food-groot_Food.svg" alt="food-logo"/>
                <h2>JCC Foodportal</h2>
            </div>

            <div class="col-12 col-lg-6 login__right">
                <form class="form login__form">
                    <div class="form__row">
                        <label for="email">E-MAIL</label>
                        <input type="email" bind:value="{email}" name="email" id="email" class="input input__text input--light">
                    </div>

                    <div class="form__row">
                        <button class="input__submit btn btn-primary bg-color--primary" on:click|preventDefault={() => {requestPassChange(email)}}> Request Password</button>
                    </div>

                    <div class="form__row">
                        <a href="/login">> Back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
