<script>
    import user from "../store/user"
    import OrderList from "../components/OrderList/OrderListWrapper.svelte"

    const userState = user.user;
    const userName = $userState.firstName + " " + $userState.lastName
    export const name = "Laurens"
</script>

<main>
    <div class="container" >
        <h1 class="mb-4">Welkom terug {userName}!</h1>

        
        <OrderList />

    </div>
</main>
