<script>
    import user from "../store/user.js"
    import Alert from "../components/Alert.svelte";

    let userData = {
        email: "Admin@JCCFoodStorage.com",
        password: "Admin123"
    }

    const login = (event) => {
        event.preventDefault();
        user.login(userData)
    }

    let error = user.error;

    export {
        userData, login, error
    }
</script>

<main class="login">
    <div class="container login__wrapper">
        <div class="row">
            <div class="col-12 col-lg-6 login__left"> 
                <img width="400" height="400" src="./images/Food-groot_Food.svg" alt="food-logo"/>
                <h2>JCC Foodportal</h2>
            </div>
            
            <div class="col-12 col-lg-6 login__right">
                <form class="form login__form">
                    {#if $error}
                        <div class="form__row">
                            <Alert bind:error={$error}/>
                        </div>
                    {/if} 
                    
                    <div class="form__row">
                        <label for="email">E-MAIL</label>
                        <input type="email" bind:value="{userData.email}" name="email" id="email" class="input input__text input--light">
                    </div>

                    <div class="form__row">
                        <label for="password">PASSWORD</label>
                        <input type="password" bind:value="{userData.password}" name="password" id="password" class="input input__text  input--light">
                    </div>
                    
                    <div class="form__row">
                        <button class="input__submit btn btn-primary bg-color--primary" on:click="{ login }"> LOG IN</button>
                    </div>
    
                    <div class="form__row">
                        <a href="/forgot-password">> Forgot password</a>
                        <a href="/register">> Create an account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>



