<script>
    import user from "../store/user"
    import orders from "../store/order"
    import orderListStore from "../store/orderList"
    import {navigate} from "svelte-routing";


    let orderList = orders.orders

    const userState = user.user;
    const userName = $userState.firstName + " " + $userState.lastName

    let changingPass = false;
    let changingInfo = false;

    let userInfo = {
        firstName: $userState.firstName,
        lastName: $userState.lastName,
        email: $userState.email,
    }

    let passInfo = {
        oldPass: "",
        newPass: "",
    }

    const changeInfo = () => {
        user.updateUser(userInfo, $userState.id)
    }

    const changePass = () => {
        user.updateUser(passInfo, $userState.id)
    }

    const selectPass = () => {
        if (changingInfo) {
            changingInfo = false
        }
        changingPass = !changingPass
    }

    const selectInfo = () => {
        if (changingPass) {
            changingPass = false
        }
        changingInfo = !changingInfo
    }

    if ($orderList.length < 1) {
        orders.getAllOrders()
    }

    const openOrderList = (list) => {
        navigate("/orderlists/" + list.id)
    }

</script>
{#if ($userState)}
<main>
    <div class="container account__container">
        <h1 class="mb-4">Welkom op jouw profiel {userName}!</h1>
        <section class="orderlist-filter account-separator">
            <button on:click={() => selectInfo()} class="account-button">{changingInfo ? "Stop met veranderen" : "Verander Informatie"}</button>
            <button on:click={() => selectPass()} class="account-button">{changingPass ? "Stop met veranderen" : "Verander Wachtwoord"}</button>
        </section>
        <section class="content">
            <section class="account__info__container card">
                <h4 class="card-header orderList__header">Account Info</h4>
                <div class="card-body">
                    <p><strong>Voornaam:</strong> {$userState.firstName}</p>
                    <p><strong>Achternaam:</strong> {$userState.lastName}</p>
                    <p><strong>E-Mail:</strong> {$userState.email}</p>
                </div>
            </section>
            {#if changingInfo}
                <section class="account__info__container card">
                    <h4 class="card-header orderList__header d-flex">Info <button on:click={() => changeInfo()} class="account-button account-button-2">Toepassen</button></h4>
                    <div class="card-body">
                        <p class="account__row"><strong>Voornaam:</strong><input bind:value={userInfo.firstName} class="input__text input__account" type="text"/></p>
                        <p class="account__row"><strong>Achternaam: </strong><input bind:value={userInfo.lastName} class="input__text input__account" type="text"/></p>
                        <p class="account__row"><strong>E-Mail: </strong><input bind:value={userInfo.email} class="input__text input__account" type="email"></p>
                        <p class="smalltext">Als je info veranderd, zal je worden uitgelogd.</p>
                    </div>
                </section>
            {:else if changingPass}
                <section class="account__info__container card">
                    <h4 class="card-header orderList__header d-flex">Wachtwoord<button on:click={() => changePass()} class="account-button account-button-2">Toepassen</button></h4>
                    <div class="card-body">
                        <p class="account__row"><strong>Oud:</strong> <input bind:value={passInfo.oldPass} class="input__text input__account" type="password"/></p>
                        <p class="account__row"><strong>Nieuw:</strong> <input bind:value={passInfo.newPass} class="input__text input__account" type="password"/></p>
                        <p class="smalltext">Als je info veranderd, zal je worden uitgelogd.</p>
                    </div>
                </section>
            {/if}
        </section>
        <section class="account__orders card">
            <h4 class="card-header orderList__header d-flex">Lijsten waar u besteld heeft</h4>
            <div class="card-body">
                {#each $orderList as order}
                    {#if (order.userID === $userState.id)}
                        {#await orderListStore.getOrderListByID(order.orderlistID)}
                            <p>..loading</p>
                        {:then list}
                            <p class="page--list" on:click={() => openOrderList(list)}>Bestellijst: {list.title}</p>
                        {/await}
                    {/if}
                {/each}
            </div>
        </section>
    </div>
</main>
{/if}

<style>

    .page--list:hover {
         cursor: pointer;
        background-color: var(--dark-2);
    }

    .page--list {
        padding-left: .5rem;
    }

    .account__orders {
        margin-top: 2rem;
    }

    .account__row {
        display: flex;
        white-space: nowrap;
        justify-content: space-between;
    }

    .card-info-body p {
        border-bottom: solid 2px var(--dark-2);;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-row-gap: .5em;
        grid-column-gap: 1em;
    }

    .account__info__container {
        align-self: flex-start;
        height: 13rem;
    }

    .smalltext {
        font-size: .8rem;
    }

    .account-separator {
        height: 4rem;
    }

    .account-button {
        margin: .5rem;
    }

    .account-button-2 {
        margin: 0;
        padding: .25rem;
        font-size: 1rem;
        align-self: center;
    }

    .d-flex {
        display: flex;
        justify-content: space-between;
    }

    .account-button:hover {
        background-color: var(--primary-dark);
        color: white;
    }

    .input__account {
        display: inline!important;
        margin-left: .5rem;
        border-bottom: solid 1px var(--dark-2);
    }

</style>