<script>
    import Alert from "../components/Alert.svelte";
    import user from "../store/user.js";

    let userData = {
        email: null,
        firstName: null,
        lastName: null,
        password: null
    }

    const register = (event) => {
        event.preventDefault();
        user.register(userData)
    }

    let error = user.error;

    export {
        userData,
        register,
        error
    }
</script>
<main class="register">
    <div class="container register__wrapper">
        <div class="row">
            <div class="col-12 col-lg-6 register__left"> 
                <img width="400" height="400" src="./images/Food-groot_Food.svg" alt="food-logo"/>
                <h2>JCC Foodportal</h2>
            </div>

            <div class="col-12 col-lg-6 register__right">
                <form class="form register__form">
                    {#if $error}
                        <div class="form__row">
                            <Alert bind:error={$error}/>
                        </div>
                    {/if}

                    <div class="form__row">
                        <label for="email">E-MAIL</label>
                        <input type="email" bind:value={userData.email} name="email" id="email" class="input input__text input--light">
                    </div>
                    <div class="form__row">
                        <label for="firstName">VOORNAAM</label>
                        <input type="firstName" bind:value={userData.firstName} name="firstName" id="firstName" class="input input__text input--light">
                    </div>
                    <div class="form__row">
                        <label for="lastName">ACHTERNAAM</label>
                        <input type="lastName" bind:value={userData.lastName} name="lastName" id="lastName" class="input input__text input--light">
                    </div>
                    <div class="form__row">
                        <label for="password">WACHTWOORD</label>
                        <input type="password" bind:value={userData.password} name="password" id="password" class="input input__text  input--light">
                    </div>
                    <div class="form__row">
                        <button class="input__submit btn btn--primary" on:click={ register }> REGISTER </button>
                    </div>
                    <div class="form__row">
                        <a href="/login">> Log into existing account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>